body {
  background-color:lightblue;
  font-size: 50px;
}

#panel{
	background-color: black;
	height: 15%;
	width: 80%;
	color: white;
	text-align: justify;
	border: 20px;
	}
h1{

	margin-left:25%;
}
	a:link{
	color: none;
	background-color: none;
	  text-decoration: none;
	}
	a:hover{
		color:orange;
	}
	
	h2{
		color: gray;
		margin-left:10%;
	}
	
#container:after{
	background-color:#FF1123;
	width: 400px;
	margin-left: 150px;
	display:block;
        clear:both;
}

#GIT{
		float:left;
	width: 25%;
	background-color: F12345;
	margin-left: 2.5%;
}
h2:hover{

color:orange;
}
#LinkedIN{
float:left;
width: 25%;
	background-color: blue;

}
#Filmweb{
	float:left;
	width: 25%;
background-color: yellow;
}