body {
  background-color:lightblue;
  font-size: 50px;
}

#panel{
	background-color: black;
	height: 15%;
	width: 80%;
	color: white;
	text-align: justify;
	border: 20px;
	}
h1{

	margin-left:25%;
}
	a:link{
	color: none;
	background-color: none;
	  text-decoration: none;
	}
	
	a{
	display: block;
	}
	
	a:hover{
		color:orange;
	}
	
	h2{
		color: gray;
		text-align: center;
	}
	
#container:after{
	background-color:#FF1123;
	width: 400px;
	margin-left: 150px;
	display:block;
        clear:both;
}

#GIT{
		float:left;
	width: 25%;
	background-color: F12345;
	margin-left: 2.5%;

}
h2:hover{

color:orange;
}
#LinkedIN{
float:left;
width: 25%;
height:30%;
	background-color: blue;

}
#Filmweb{
	float:left;
	width: 25%;
	height:30%;
background-color: yellow;
}

#FilmwebP{
 width: 200px;
 color: red;
 height: 8%;
}

#Youtube{
float:left;
margin-left: 2.5%;
width: 25%;
height:20%;
	background-color: red;
}

#LinkedINP{
	
 width: 200px;
 color: red;
 height: 8%;
}

h3{
font-size: 25px;
 color: lightgray;
 	margin-left:100%;
	height: 12%;
}
h3:hover{
color: orange;
}